@media only screen and (min-width: 200px){
    .container{
        padding: 0 20px;
    }
    header{
        .header-1{
            display: none;
        }
        .header-2{
            display: flex;
            align-items: center;
            padding: 13px 20px;
            .logo-2{
                width: 100%;
                img{
                    width: 60px;
                }
            }
            .navbar-container{
                position: fixed;
                top: 0;
                right: -100%;
                bottom: 0;
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: 100vh;
                z-index: 2;
                background-color: rgba(0,0,0, 0.35);
                backdrop-filter: blur(3px);
                transition: right .2s ease-in-out;
                ul{
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    background-color: white;
                    list-style: none;
                    img{
                        height: 28px;
                        margin: 10px 20px 10px 0;
                        align-self: flex-end;
                    }
                    li{
                        font-size: 25px;
                        margin: 0 0 20px 30px
                    }
                }
            }
            .right-container{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .navbar-search-container{
                    position: absolute;
                    top: -100%;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: 2;
                    background-color: white;
                    .navbar-search-header-container{
                        display: flex;
                        align-items: center;
                        padding: 13px 20px;
                        justify-content: flex-end;
                        .input-container{
                            display: flex;
                            align-items: center;
                            width: 0;
                            border-radius: 100vw;
                            background: rgba(0,0,0,.05);
                            margin-right: 20px;
                            transition: .4s ease-in-out;
                            .search-icon-container{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                // margin-left: 20px;
                                width: 50px;
                                height: 40px;
                                border-radius: 50%;
                                &:hover{
                                    background: rgb(220,220,220)
                                }
                                img{
                                    width: 22px;
                                    margin-left: 0px;
                                    cursor: pointer;
                                }
                            }
                            input{
                                display: flex;
                                align-items: center;
                                width: 100%;
                                border: none;
                                background-color: transparent;
                                outline-style: none;
                                margin-left: 0px;
                                &::placeholder{
                                    color: rgb(190,190,190);
                                    font-size: 16px;
                                }
                            }
                        }
                        .search-cancel-toggle{
                            transition: all .2s .4s ease;
                            transform: scale(0);
                            cursor: pointer;
                        }
                    }
                }
                img{
                    width: 22px;
                    margin-left: 25px;
                    cursor: pointer;
                }
                .heart-icon{
                    display: none;
                }
            }
        }
        .header-3{
            background: rgb(240,240,240);
            height: 60px;
        }
    }

    // content
    .content{
        .header-1{
            position: sticky;
            top: 0;
            width: 100%;
            height: 140px;
            padding-top: 45px;
            z-index: 1;
            background-color: white;
            h2{
                font-weight: 200;
            }
            ul{
                margin-top: 20px;
                display: flex;
                list-style: none;
                li{
                    margin-right: 30px;
                }
            }
        }
        .section-1{
            .image-wide-mobile-container{
                img{
                    width: 100%;
                }
                .web-nike{
                    display: none;
                }
            }
            h1{
                font-size: 45px;
                font-weight: 900;
                letter-spacing: -3px;
                line-height: 40px;
                text-align: left;
            }
            p{
                margin-top: 20px;
                line-height: 22px;
            }
            button{
                border: none;
                border-radius: 100vw;
                background-color: black;
                color: white;
                font-size: 16px;
                padding: 10px 20px;
                margin-top: 30px;
            }
        }
        .section-2{
            margin-top: 84px;
            .carousel-header{
                h2{
                    font-weight: 200;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                .arrow-flex{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .arrow-container{
                        display: none;
                        justify-content: center;
                        align-content: center;
                        margin-left: 10px;
                        width: 50px;
                        height: 50px;
                        background: rgb(220,220,220);
                        border-radius: 50%;
                        span{
                            font-size: 40px;
                            font-weight: 100;
                        }
                    }
                }
            }
            .item-carousel {
                display: flex;
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                column-gap: 15px;
                scroll-padding: 20px;
                padding: 20px 20px 40px;
                position: relative;
                &::-webkit-scrollbar{
                    height: 6px;
                    display: none;
                }
                &::-webkit-scrollbar-track{
                    margin-left: 20px;
                }
                &:hover::-webkit-scrollbar{
                    display: block;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: gray;
                    border-radius: 100vh;
                }
                .item {
                    position: relative;
                    left: 0%;
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    width: 80%;
                    .picture-container{
                        width: 100%;
                        .images{
                            width: 100%;
                        }
                    }
                    .name-and-price-container{
                        display: grid;
                        row-gap: 10px;
                        grid-template-rows: 1fr 1fr 1fr;
                        margin-top: 20px;
                        .price{
                            grid-row: 3/4;
                            font-size: 13px;
                        }
                        .gender-shoes{
                            color: gray;
                            display: block;
                            // margin-top: 5px;
                        }
                    }
                }
            }
        }
        .section-3{
            margin-top: 84px;
            h2{
                font-weight: 200;
            }
            .featured-flex{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                .featured-items-container{
                    position: relative;
                    margin-bottom: 5px;
                    .featured-image-container{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .text-and-button-container{
                        position: absolute;
                        left: 30px;
                        bottom: 30px;
                        color: white;
                        button{
                            border: none;
                            background-color: white;
                            border-radius: 100vw;
                            padding: 10px 20px;
                            margin-top: 25px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .section-4{
            margin-top: 84px;
            h2{
                font-weight: 200;
            }
            .latest-img-container{
                width: 100%;
                margin-top: 20px;
                img{
                    width: 100%;
                }
                .web-latest-img{
                    display: none;
                }
            }
            h1{
                font-size: 45px;
                font-weight: 900;
                letter-spacing: -3px;
                line-height: 40px;
                text-align: left;
            }
            p{
                margin-top: 20px;
                line-height: 22px;
            }
            button{
                border: none;
                border-radius: 100vw;
                background-color: black;
                color: white;
                font-size: 16px;
                padding: 10px 20px;
                margin-top: 30px;
            }
        }
        .section-5{
            margin-top: 84px;
            h2{
                font-weight: 200;
            }
            .essentials-flex{
                display: flex;
                column-gap: 15px;
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                scroll-padding: 20px;
                padding: 0px 20px 40px;
                margin-top: 20px;
                &::-webkit-scrollbar{
                    height: 6px;
                    display: none;
                }
                &::-webkit-scrollbar-track{
                    margin-left: 20px;
                }
                &:hover::-webkit-scrollbar{
                    display: block;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: gray;
                    border-radius: 100vh;
                }
                .essentials-items-container{
                    position: relative;
                    width: 80%;
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    .essentials-image-container{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .essentials-button-container{
                        position: absolute;
                        left: 30px;
                        bottom: 20px;
                        color: white;
                        button{
                            border: none;
                            background-color: white;
                            border-radius: 100vw;
                            padding: 10px 20px;
                            margin-top: 25px;
                            font-size: 16px;
                        }
                    } 
                }
            }
        }
    }
}
// @media only screen and (min-width: 960px) {
//     header{
//         .header-1{
//             //display
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
    
//             background: rgba(0,0,0,.03);
//             padding: 7px 50px;
//             img{
//                 width: 20px;
//             }
//             .about-list{
//                 //display
//                 display: flex;
    
//                 list-style: none;
//                 font-size: 12px;
//                 li{
//                     margin-left: 13px;
//                 }
//                 span{
//                     margin-left: 13px;
//                 }
//             }
//         }
//         .header-2{
//             display: flex;
//             align-items: center;
//             padding: 13px 50px;
//             .logo-2{
//                 width: 100%;
//                 img{
//                     width: 60px;
//                 }
//             }
//             ul{
//                 display: flex;
//                 justify-content: center;
//                 list-style: none;
//                 width: 100%;
//                 li{
//                     margin: 0 10px 0
//                 }
//             }
//             .right-container{
//                 display: flex;
//                 align-items: center;
//                 justify-content: flex-end;
//                 width: 100%;
//                 .input-container{
//                     position: relative;
//                     display: flex;
//                     align-items: center;
//                     width: 180px;
//                     border-radius: 100vw;
//                     background: rgba(0,0,0,.05);
//                     .search-icon-container{
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                         width: 40px;
//                         height: 40px;
//                         border-radius: 50%;
//                         &:hover{
//                             background: rgb(220,220,220)
//                         }
//                         img{
//                             width: 22px;
//                             cursor: pointer;
//                             z-index: 1;
//                         }
//                     }
//                     input{
//                         position: absolute;
//                         width: 100%;
//                         border: none;
//                         background-color: transparent;
//                         outline-style: none;
//                         border-radius: 100vw;
//                         padding: 10px 10px 10px 50px;
//                         margin-left: 0px;
//                         &::placeholder{
//                             font-size: 16px;
//                             color: rgb(190,190,190);
//                         }
//                         &:hover{
//                             background: rgb(220,220,220);
//                             &::placeholder{
//                                 color: rgb(100,100,100);
//                             }
//                         }
//                     }
//                 }
//                 img{
//                     width: 22px;
//                     margin-left: 25px;
//                     cursor: pointer;
//                 }
//             }
//         }
//     }
// }    