@media only screen and (min-width: 200px){
    .container{
        padding: 0 25px;
        max-width: 1950px;
        margin: 0 auto;
    }
    .container-carousel{
        padding: 0;
        max-width: 1950px;
        margin: 0 auto;
    }
    button{
        cursor: pointer;
    }
    header{
        .header-1{
            display: none;
        }
        .header-2{
            display: flex;
            align-items: center;
            padding: 13px 20px;
            .logo-2{
                width: 100%;
                .img-logo-2{
                    width: 60px;
                }
            }
            .navbar-container{
                position: fixed;
                top: 0;
                right: -100%;
                bottom: 0;
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: 100vh;
                z-index: 2;
                background-color: rgba(0,0,0, 0.35);
                backdrop-filter: blur(3px);
                transition: right .2s ease-in-out;
                ul{
                    display: flex;
                    flex-direction: column;
                    width: 320px;
                    background-color: white;
                    list-style: none;
                    .x-icon{
                        height: 28px;
                        margin: 10px 20px 10px 0;
                        align-self: flex-end;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        li{
                            font-size: 25px;
                            margin: 0 0 20px 30px
                        }
                    }
                    
                }
            }
            .right-container{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 25px;
                .navbar-search-container{
                    position: absolute;
                    top: -150%;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: 2;
                    transition: top .1s ease;
                    background-color: white;
                    .navbar-search-header-container{
                        display: flex;
                        padding: 13px 20px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 20px;
                        .navbar-search-logo{
                            display: none;
                            width: 60px;
                        }
                        .input-container{
                            display: flex;
                            align-items: center;
                            width: 0;
                            border-radius: 100vw;
                            background: rgba(0,0,0,.05);
                            margin-right: 20px; 
                            transition: .4s ease-in-out;
                            .search-icon-container{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 50px;
                                height: 40px;
                                border-radius: 50%;
                                &:hover{
                                    background: rgb(220,220,220)
                                }
                                img{
                                    width: 22px;
                                    margin-left: 0px;
                                    cursor: pointer;
                                }
                            }
                            input{
                                display: flex;
                                align-items: center;
                                width: 100%;
                                border: none;
                                background-color: transparent;
                                outline-style: none;
                                margin-left: 0px;
                                &::placeholder{
                                    color: rgb(190,190,190);
                                    font-size: 16px;
                                }
                            }
                        }
                        .search-cancel-toggle{
                            transition: all .2s .4s ease;
                            transform: scale(0);
                            cursor: pointer;
                        }
                    }
                    .top-search-container{
                        width: 700px;
                        margin: 50px auto;
                        padding: 0 25px;
                        p{
                            color: gray
                        }
                        ul{
                            list-style: none;
                            li{
                                margin-top: 20px;
                                font-size: 19px;
                            }
                        }
                    }
                }
                img{
                    width: 22px;
                    cursor: pointer;
                }
                .search-container{
                    display: block;
                    .search-icon-toggle{
                        display: block;
                    }
                }
                .menu-icon{
                    display: block;
                }
                .heart-icon{
                    display: none;
                }
                .input-right{
                    display: none;
                }
            }
        }
        .header-3{
            background: rgb(240,240,240);
            height: 60px;
        }
    }

    // content
    .content{
        .header-1{
            position: sticky;
            top: -.02%;
            width: 100%;
            height: 140px;
            padding-top: 45px;
            z-index: 1;
            background-color: white;
            h2{
                font-weight: 200;
            }
            ul{
                margin-top: 20px;
                display: flex;
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    li{
                        margin-right: 30px;
                    }
                }
            }
        }
        .section-1{
            .image-wide-mobile-container{
                img{
                    width: 100%;
                }
                .web-nike{
                    display: none;
                }
            }
            h1{
                font-size: 45px;
                font-weight: 900;
                letter-spacing: -3px;
                line-height: 40px;
                text-align: left;
            }
            p{
                margin-top: 20px;
                line-height: 22px;
            }
            button{
                border: none;
                border-radius: 100vw;
                background-color: black;
                color: white;
                font-size: 16px;
                padding: 10px 20px;
                margin-top: 30px;
            }
        }
        .section-2{
            margin-top: 84px;
            .carousel-header{
                display: flex;
                justify-content: space-between;
                h2{
                    width: 100%;
                    font-weight: 200;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
                .arrow-flex{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .arrow-container{
                        display: none;
                        justify-content: center;
                        align-content: center;
                        margin-left: 10px;
                        width: 50px;
                        height: 50px;
                        background: rgb(220,220,220);
                        border-radius: 50%;
                        span{
                            font-size: 40px;
                            font-weight: 100;
                        }
                    }
                }
            }
            .item-carousel {
                display: flex;
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                column-gap: 15px;
                scroll-padding: 20px;
                padding: 20px 20px 40px;
                position: relative;
                &::-webkit-scrollbar{
                    height: 6px;
                    display: none;
                }
                &::-webkit-scrollbar-track{
                    margin-left: 20px;
                }
                &:hover::-webkit-scrollbar{
                    display: block;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: gray;
                    border-radius: 100vh;
                }
                .item {
                    position: relative;
                    left: 0%;
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    width: 80%;
                    .picture-container{
                        width: 100%;
                        .images{
                            width: 100%;
                        }
                    }
                    .name-and-price-container{
                        display: grid;
                        row-gap: 10px;
                        grid-template-rows: 1fr 1fr 1fr;
                        margin-top: 20px;
                        .price{
                            grid-row: 3/4;
                            font-size: 13px;
                        }
                        .gender-shoes{
                            color: gray;
                            display: block;
                            // margin-top: 5px;
                        }
                    }
                }
            }
        }
        .section-3{
            margin-top: 84px;
            h2{
                font-weight: 200;
            }
            .featured-flex{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                .featured-items-container{
                    position: relative;
                    margin-bottom: 5px;
                    .featured-image-container{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .text-and-button-container{
                        position: absolute;
                        left: 30px;
                        bottom: 30px;
                        color: white;
                        button{
                            border: none;
                            background-color: white;
                            border-radius: 100vw;
                            padding: 10px 20px;
                            margin-top: 25px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .section-4{
            margin-top: 84px;
            h2{
                font-weight: 200;
            }
            .latest-img-container{
                width: 100%;
                margin-top: 20px;
                img{
                    width: 100%;
                }
                .web-latest-img{
                    display: none;
                }
            }
            h1{
                font-size: 45px;
                font-weight: 900;
                letter-spacing: -3px;
                line-height: 40px;
                text-align: left;
            }
            p{
                margin-top: 20px;
                line-height: 22px;
            }
            button{
                border: none;
                border-radius: 100vw;
                background-color: black;
                color: white;
                font-size: 16px;
                padding: 10px 20px;
                margin-top: 30px;
            }
        }
        .section-5{
            margin-top: 84px;
            h2{
                font-weight: 200;
            }
            .essentials-flex{
                display: flex;
                column-gap: 15px;
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                scroll-padding: 20px;
                padding: 0px 20px 40px;
                margin-top: 20px;
                &::-webkit-scrollbar{
                    height: 6px;
                    display: none;
                }
                &::-webkit-scrollbar-track{
                    margin-left: 20px;
                }
                &:hover::-webkit-scrollbar{
                    display: block;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: gray;
                    border-radius: 100vh;
                }
                .essentials-items-container{
                    position: relative;
                    width: 80%;
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    .essentials-image-container{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .essentials-button-container{
                        position: absolute;
                        left: 30px;
                        bottom: 20px;
                        color: white;
                        button{
                            border: none;
                            background-color: white;
                            border-radius: 100vw;
                            padding: 10px 20px;
                            margin-top: 25px;
                            font-size: 16px;
                        }
                    } 
                }
            }
            .list-items{
                margin-top: 84px;
                .list-flex{
                    .list-container{
                        ul{
                            list-style: none;
                            li{
                                cursor: pointer;
                                margin-top: 20px;
                            }   
                        }
                        .each-list-container{
                            margin-left: 20px;
                            overflow: hidden;
                            opacity: 0;
                            height: 0px;
                            transition: height .5s ease, opacity .5s ease;
                            ul{
                                a{
                                    text-decoration: none;
                                    color: rgb(120,120,120);
                                }
                            }
                        }
                        .each-list-container-toggle-one{
                            height: 385px;
                            opacity: 1;
                        }
                        .each-list-container-toggle-three{
                            height: 233px;
                            opacity: 1;
                        }
                        .each-list-hide{
                            height: 0px;
                        }
                    }
                }
            }
        }
        footer{
            .footer{
                background-color: black;
                color: white;
                margin-top: 50px;
                .first-flex-container{
                    ul{
                        list-style: none;
                        padding-top: 30px;
                        a{
                            text-decoration: none;
                            color: white;
                            .first-list{
                                text-transform: uppercase;
                                margin-bottom: 17px;
                                font-size: 13px;
                                font-weight: 700;
                            }
                        }
                    }
                    .lists-second{
                        padding-top: 30px;
                        p{
                            text-transform: uppercase;
                            margin-bottom: 30px;
                            font-size: 13px;
                            font-weight: 700;
                        }
                        .get-help-list{
                            ul{
                                padding-top: 0;
                                a{
                                    color: gray;
                                    li{
                                        margin-bottom: 20px;
                                        font-size: small;
                                    }
                                }
                            }
                        }
                    }
                    .lists-third{
                        padding-top: 30px;
                        p{
                            text-transform: uppercase;
                            margin-bottom: 30px;
                            font-size: 13px;
                            font-weight: 700;
                        }
                        .about-nike-list{
                            ul{
                                padding-top: 0;
                                a{
                                    color: gray;
                                    li{
                                        margin-bottom: 20px;
                                        font-size: small;
                                    }
                                }
                            }
                        }
                    }
                    .footer-icon-container{
                        display: flex;
                        padding-top: 30px;
                        .each-icon-container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 32px;
                            height: 32px;
                            margin-right: 15px;
                            background-color: gray;
                            border-radius: 50%;
                            padding: 7px;
                            img{
                                height: 100%;
                            }
                        }
                    }
                }
                .footer-grid{
                    margin-top: 30px;
                    padding-bottom: 10px;
                    span{
                        font-size: small;
                        display: block;
                    }
                    .location{
                        margin-bottom: 18px;
                    }
                    .copy-right{
                        margin-bottom: 45px;
                    }
                    .footer-flex-about{
                        list-style: none;
                        li{
                            font-size: small;
                            margin-bottom: 20px;
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 600px){
    .content{
        .section-1{
            .image-wide-mobile-container{
                .web-nike{
                    display: block;
                }
                .mobile-nike{
                    display: none;
                }
            }
        }
        .section-2{
            .carousel-header{
                .arrow-flex{
                    .arrow-container{
                        display: flex;
                    }
                }
            }
        }
        .section-3{
            .featured-flex{
                flex-direction: row;
                column-gap: 10px;
            }
        }
        .section-4{
            .latest-img-container{
                .mobile-latest-img{
                    display: none;
                }
                .web-latest-img{
                    display: block;
                }
            }
        }
        .section-5{
            .list-items{
                .list-flex{
                    display: flex;
                    column-gap: 20px;
                    .list-container{
                        .each-list-container{
                            overflow-y: scroll;
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
        footer{
            .footer{
                .first-flex-container{
                    display: flex;
                    justify-content: space-between;
                    .footer-icon-container{
                        width: 23%;
                        justify-content: end;
                        align-content: flex-start;
                        align-items: flex-start;
                        row-gap: 15px;
                        flex-wrap: wrap;
                    }
                }
                .footer-grid{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    column-gap: 20px;
                    padding-bottom: 20px;
                    .copy-right-and-location-container{
                        .copy-right, .location{
                            margin-bottom: 0;
                        }
                        .copy-right{
                            color: gray;
                        }
                        display: flex;
                        align-items: flex-end;
                        flex-wrap: nowrap;
                        column-gap: 20px;
                    }
                    .footer-flex-about{
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        column-gap: 20px;
                        row-gap: 30px;
                        flex-wrap: wrap;
                        li{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 960px) {
    .container{
        padding: 0 40px;
    }
    header{
        .header-1{
            //display
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: height 1s ease;
            background: rgba(0,0,0,.03);
            padding: 7px 50px;
            img{
                width: 20px;
            }
            .about-list{
                //display
                display: flex;
                list-style: none;
                font-size: 12px;
                li{
                    margin-left: 13px;
                }
                span{
                    margin-left: 13px;
                }
            }
        }
        .header-2{
            display: flex;
            align-items: center;
            padding: 7px 50px;
            height: fit-content;
            .logo-2{
                width: 100%;
                img{
                    width: 60px;
                }
            }
            .navbar-container{
                position: static;
                width: 100%;
                height: fit-content;
                ul{
                    flex-direction: row;
                    column-gap: 20px;
                    width: 100%;
                    height: fit-content;
                    img{
                        display: none;
                    }
                    a{
                        li{
                            font-size: 16px;
                            margin: 0;
                        }
                    }
                }
            }
            .right-container{
                display: grid;
                grid-template-columns: 1fr 20px 20px;
                justify-items: flex-end;
                width: 100%;
                height: 50px;
                .navbar-search-container{
                    padding: 0 40px;
                    .navbar-search-header-container{
                        .navbar-search-logo{
                            display: block;
                        }
                        .input-container{
                            margin: 0 auto;
                        }
                        .search-cancel-toggle{
                            margin-right: 0;
                        }
                    }
                }
                img{
                    margin-left: 0;
                }
                .heart-icon{
                    display: block;
                    grid-column: 2/3;
                }
                .bag-icon{
                    grid-column: 3/4;
                }
                .search-container{
                    grid-column: 1/2;
                    grid-row: 1/2;

                    display: flex;
                    align-items: center;
                    width: 180px;
                    border-radius: 100vw;
                    background: rgba(0,0,0,.05);
                    margin:  0 10px 0 30px;
                    padding: 10px 15px;
                    .search-icon-toggle{
                        display: flex;
                        justify-content: center;
                        border-radius: 50%;
                        margin-right: 10px;
                        &:hover{
                            background: rgb(220,220,220)
                        }
                    }
                    .input-right{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        border: none;
                        background-color: transparent;
                        outline-style: none;
                        margin-left: 0px;
                        &::placeholder{
                            color: rgb(190,190,190);
                            font-size: 16px;
                        }
                    }
                } 
                .menu-icon{
                    display: none;
                }
            }
        }
    }
    .content{
        .header-1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            padding-top: 0px;
            height: 70px;
            h2{
                font-size: 17px;
            }
            ul{
                margin-top: 0;
                justify-self: center;
            }
        }
        .section-1{
            p, h1, button {
                text-align: center;
            }
            h1{
                margin-top: 10px;
                font-size: 60px;
            }
            p{
                width: 700px;
                margin: 20px auto 0;
            }
            button{
                position: relative;
                transform: translateX(-50%);
                left: 50%;
            }
        }
        .section-2{
            .item-carousel{
                .item{
                    width: 35%;
                }
            }
        }
        .section-4{
            p, h1, button {
                text-align: center;
            }
            h1{
                margin-top: 10px;
                font-size: 60px;
            }
            p{
                width: 700px;
                margin: 20px auto 0;
            }
            button{
                position: relative;
                transform: translateX(-50%);
                left: 50%;
            }
        }
        .section-5{
            .essentials-flex{
                .essentials-items-container{
                    width: 32.5%;
                }
            }
        }
    }
}
