@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  font-family: Helvetica, "Poppins", sans-serif;
  box-sizing: border-box;
}

@media only screen and (min-width: 200px) {
  .container {
    padding: 0 25px;
    max-width: 1950px;
    margin: 0 auto;
  }
  .container-carousel {
    padding: 0;
    max-width: 1950px;
    margin: 0 auto;
  }
  button {
    cursor: pointer;
  }
  header .header-1 {
    display: none;
  }
  header .header-2 {
    display: flex;
    align-items: center;
    padding: 13px 20px;
  }
  header .header-2 .logo-2 {
    width: 100%;
  }
  header .header-2 .logo-2 .img-logo-2 {
    width: 60px;
  }
  header .header-2 .navbar-container {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    transition: right 0.2s ease-in-out;
  }
  header .header-2 .navbar-container ul {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: white;
    list-style: none;
  }
  header .header-2 .navbar-container ul .x-icon {
    height: 28px;
    margin: 10px 20px 10px 0;
    align-self: flex-end;
  }
  header .header-2 .navbar-container ul a {
    text-decoration: none;
    color: black;
  }
  header .header-2 .navbar-container ul a li {
    font-size: 25px;
    margin: 0 0 20px 30px;
  }
  header .header-2 .right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  header .header-2 .right-container .navbar-search-container {
    position: absolute;
    top: -150%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: top 0.1s ease;
    background-color: white;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container {
    display: flex;
    padding: 13px 20px;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .navbar-search-logo {
    display: none;
    width: 60px;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container {
    display: flex;
    align-items: center;
    width: 0;
    border-radius: 100vw;
    background: rgba(0, 0, 0, 0.05);
    margin-right: 20px;
    transition: 0.4s ease-in-out;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container .search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border-radius: 50%;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container .search-icon-container:hover {
    background: rgb(220, 220, 220);
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container .search-icon-container img {
    width: 22px;
    margin-left: 0px;
    cursor: pointer;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container input {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    outline-style: none;
    margin-left: 0px;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container input::-moz-placeholder {
    color: rgb(190, 190, 190);
    font-size: 16px;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container input:-ms-input-placeholder {
    color: rgb(190, 190, 190);
    font-size: 16px;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container input::placeholder {
    color: rgb(190, 190, 190);
    font-size: 16px;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .search-cancel-toggle {
    transition: all 0.2s 0.4s ease;
    transform: scale(0);
    cursor: pointer;
  }
  header .header-2 .right-container .navbar-search-container .top-search-container {
    width: 700px;
    margin: 50px auto;
    padding: 0 25px;
  }
  header .header-2 .right-container .navbar-search-container .top-search-container p {
    color: gray;
  }
  header .header-2 .right-container .navbar-search-container .top-search-container ul {
    list-style: none;
  }
  header .header-2 .right-container .navbar-search-container .top-search-container ul li {
    margin-top: 20px;
    font-size: 19px;
  }
  header .header-2 .right-container img {
    width: 22px;
    cursor: pointer;
  }
  header .header-2 .right-container .search-container {
    display: block;
  }
  header .header-2 .right-container .search-container .search-icon-toggle {
    display: block;
  }
  header .header-2 .right-container .menu-icon {
    display: block;
  }
  header .header-2 .right-container .heart-icon {
    display: none;
  }
  header .header-2 .right-container .input-right {
    display: none;
  }
  header .header-3 {
    background: rgb(240, 240, 240);
    height: 60px;
  }
  .content .header-1 {
    position: -webkit-sticky;
    position: sticky;
    top: -0.02%;
    width: 100%;
    height: 140px;
    padding-top: 45px;
    z-index: 1;
    background-color: white;
  }
  .content .header-1 h2 {
    font-weight: 200;
  }
  .content .header-1 ul {
    margin-top: 20px;
    display: flex;
    list-style: none;
  }
  .content .header-1 ul a {
    text-decoration: none;
    color: black;
  }
  .content .header-1 ul a li {
    margin-right: 30px;
  }
  .content .section-1 .image-wide-mobile-container img {
    width: 100%;
  }
  .content .section-1 .image-wide-mobile-container .web-nike {
    display: none;
  }
  .content .section-1 h1 {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 40px;
    text-align: left;
  }
  .content .section-1 p {
    margin-top: 20px;
    line-height: 22px;
  }
  .content .section-1 button {
    border: none;
    border-radius: 100vw;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 30px;
  }
  .content .section-2 {
    margin-top: 84px;
  }
  .content .section-2 .carousel-header {
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content .section-2 .carousel-header h2 {
    width: 100%;
    font-weight: 200;
  }
  .content .section-2 .carousel-header .arrow-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .content .section-2 .carousel-header .arrow-flex .arrow-container {
    display: none;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background: rgb(220, 220, 220);
    border-radius: 50%;
  }
  .content .section-2 .carousel-header .arrow-flex .arrow-container span {
    font-size: 40px;
    font-weight: 100;
  }
  .content .section-2 .item-carousel {
    display: flex;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    -moz-column-gap: 15px;
         column-gap: 15px;
    scroll-padding: 20px;
    padding: 20px 20px 40px;
    position: relative;
  }
  .content .section-2 .item-carousel::-webkit-scrollbar {
    height: 6px;
    display: none;
  }
  .content .section-2 .item-carousel::-webkit-scrollbar-track {
    margin-left: 20px;
  }
  .content .section-2 .item-carousel:hover::-webkit-scrollbar {
    display: block;
  }
  .content .section-2 .item-carousel::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100vh;
  }
  .content .section-2 .item-carousel .item {
    position: relative;
    left: 0%;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 80%;
  }
  .content .section-2 .item-carousel .item .picture-container {
    width: 100%;
  }
  .content .section-2 .item-carousel .item .picture-container .images {
    width: 100%;
  }
  .content .section-2 .item-carousel .item .name-and-price-container {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
  }
  .content .section-2 .item-carousel .item .name-and-price-container .price {
    grid-row: 3/4;
    font-size: 13px;
  }
  .content .section-2 .item-carousel .item .name-and-price-container .gender-shoes {
    color: gray;
    display: block;
  }
  .content .section-3 {
    margin-top: 84px;
  }
  .content .section-3 h2 {
    font-weight: 200;
  }
  .content .section-3 .featured-flex {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .content .section-3 .featured-flex .featured-items-container {
    position: relative;
    margin-bottom: 5px;
  }
  .content .section-3 .featured-flex .featured-items-container .featured-image-container {
    width: 100%;
  }
  .content .section-3 .featured-flex .featured-items-container .featured-image-container img {
    width: 100%;
  }
  .content .section-3 .featured-flex .featured-items-container .text-and-button-container {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: white;
  }
  .content .section-3 .featured-flex .featured-items-container .text-and-button-container button {
    border: none;
    background-color: white;
    border-radius: 100vw;
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 16px;
  }
  .content .section-4 {
    margin-top: 84px;
  }
  .content .section-4 h2 {
    font-weight: 200;
  }
  .content .section-4 .latest-img-container {
    width: 100%;
    margin-top: 20px;
  }
  .content .section-4 .latest-img-container img {
    width: 100%;
  }
  .content .section-4 .latest-img-container .web-latest-img {
    display: none;
  }
  .content .section-4 h1 {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 40px;
    text-align: left;
  }
  .content .section-4 p {
    margin-top: 20px;
    line-height: 22px;
  }
  .content .section-4 button {
    border: none;
    border-radius: 100vw;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 30px;
  }
  .content .section-5 {
    margin-top: 84px;
  }
  .content .section-5 h2 {
    font-weight: 200;
  }
  .content .section-5 .essentials-flex {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    padding: 0px 20px 40px;
    margin-top: 20px;
  }
  .content .section-5 .essentials-flex::-webkit-scrollbar {
    height: 6px;
    display: none;
  }
  .content .section-5 .essentials-flex::-webkit-scrollbar-track {
    margin-left: 20px;
  }
  .content .section-5 .essentials-flex:hover::-webkit-scrollbar {
    display: block;
  }
  .content .section-5 .essentials-flex::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100vh;
  }
  .content .section-5 .essentials-flex .essentials-items-container {
    position: relative;
    width: 80%;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  .content .section-5 .essentials-flex .essentials-items-container .essentials-image-container {
    width: 100%;
  }
  .content .section-5 .essentials-flex .essentials-items-container .essentials-image-container img {
    width: 100%;
  }
  .content .section-5 .essentials-flex .essentials-items-container .essentials-button-container {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: white;
  }
  .content .section-5 .essentials-flex .essentials-items-container .essentials-button-container button {
    border: none;
    background-color: white;
    border-radius: 100vw;
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 16px;
  }
  .content .section-5 .list-items {
    margin-top: 84px;
  }
  .content .section-5 .list-items .list-flex .list-container ul {
    list-style: none;
  }
  .content .section-5 .list-items .list-flex .list-container ul li {
    cursor: pointer;
    margin-top: 20px;
  }
  .content .section-5 .list-items .list-flex .list-container .each-list-container {
    margin-left: 20px;
    overflow: hidden;
    opacity: 0;
    height: 0px;
    transition: height 0.5s ease, opacity 0.5s ease;
  }
  .content .section-5 .list-items .list-flex .list-container .each-list-container ul a {
    text-decoration: none;
    color: rgb(120, 120, 120);
  }
  .content .section-5 .list-items .list-flex .list-container .each-list-container-toggle-one {
    height: 385px;
    opacity: 1;
  }
  .content .section-5 .list-items .list-flex .list-container .each-list-container-toggle-three {
    height: 233px;
    opacity: 1;
  }
  .content .section-5 .list-items .list-flex .list-container .each-list-hide {
    height: 0px;
  }
  .content footer .footer {
    background-color: black;
    color: white;
    margin-top: 50px;
  }
  .content footer .footer .first-flex-container ul {
    list-style: none;
    padding-top: 30px;
  }
  .content footer .footer .first-flex-container ul a {
    text-decoration: none;
    color: white;
  }
  .content footer .footer .first-flex-container ul a .first-list {
    text-transform: uppercase;
    margin-bottom: 17px;
    font-size: 13px;
    font-weight: 700;
  }
  .content footer .footer .first-flex-container .lists-second {
    padding-top: 30px;
  }
  .content footer .footer .first-flex-container .lists-second p {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 700;
  }
  .content footer .footer .first-flex-container .lists-second .get-help-list ul {
    padding-top: 0;
  }
  .content footer .footer .first-flex-container .lists-second .get-help-list ul a {
    color: gray;
  }
  .content footer .footer .first-flex-container .lists-second .get-help-list ul a li {
    margin-bottom: 20px;
    font-size: small;
  }
  .content footer .footer .first-flex-container .lists-third {
    padding-top: 30px;
  }
  .content footer .footer .first-flex-container .lists-third p {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 700;
  }
  .content footer .footer .first-flex-container .lists-third .about-nike-list ul {
    padding-top: 0;
  }
  .content footer .footer .first-flex-container .lists-third .about-nike-list ul a {
    color: gray;
  }
  .content footer .footer .first-flex-container .lists-third .about-nike-list ul a li {
    margin-bottom: 20px;
    font-size: small;
  }
  .content footer .footer .first-flex-container .footer-icon-container {
    display: flex;
    padding-top: 30px;
  }
  .content footer .footer .first-flex-container .footer-icon-container .each-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    background-color: gray;
    border-radius: 50%;
    padding: 7px;
  }
  .content footer .footer .first-flex-container .footer-icon-container .each-icon-container img {
    height: 100%;
  }
  .content footer .footer .footer-grid {
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .content footer .footer .footer-grid span {
    font-size: small;
    display: block;
  }
  .content footer .footer .footer-grid .location {
    margin-bottom: 18px;
  }
  .content footer .footer .footer-grid .copy-right {
    margin-bottom: 45px;
  }
  .content footer .footer .footer-grid .footer-flex-about {
    list-style: none;
  }
  .content footer .footer .footer-grid .footer-flex-about li {
    font-size: small;
    margin-bottom: 20px;
    color: gray;
  }
}
@media only screen and (min-width: 600px) {
  .content .section-1 .image-wide-mobile-container .web-nike {
    display: block;
  }
  .content .section-1 .image-wide-mobile-container .mobile-nike {
    display: none;
  }
  .content .section-2 .carousel-header .arrow-flex .arrow-container {
    display: flex;
  }
  .content .section-3 .featured-flex {
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .content .section-4 .latest-img-container .mobile-latest-img {
    display: none;
  }
  .content .section-4 .latest-img-container .web-latest-img {
    display: block;
  }
  .content .section-5 .list-items .list-flex {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .content .section-5 .list-items .list-flex .list-container .each-list-container {
    overflow-y: scroll;
    margin-left: 0px;
  }
  .content footer .footer .first-flex-container {
    display: flex;
    justify-content: space-between;
  }
  .content footer .footer .first-flex-container .footer-icon-container {
    width: 23%;
    justify-content: end;
    align-content: flex-start;
    align-items: flex-start;
    row-gap: 15px;
    flex-wrap: wrap;
  }
  .content footer .footer .footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-bottom: 20px;
  }
  .content footer .footer .footer-grid .copy-right-and-location-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .content footer .footer .footer-grid .copy-right-and-location-container .copy-right, .content footer .footer .footer-grid .copy-right-and-location-container .location {
    margin-bottom: 0;
  }
  .content footer .footer .footer-grid .copy-right-and-location-container .copy-right {
    color: gray;
  }
  .content footer .footer .footer-grid .footer-flex-about {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
  }
  .content footer .footer .footer-grid .footer-flex-about li {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 960px) {
  .container {
    padding: 0 40px;
  }
  header .header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 1s ease;
    background: rgba(0, 0, 0, 0.03);
    padding: 7px 50px;
  }
  header .header-1 img {
    width: 20px;
  }
  header .header-1 .about-list {
    display: flex;
    list-style: none;
    font-size: 12px;
  }
  header .header-1 .about-list li {
    margin-left: 13px;
  }
  header .header-1 .about-list span {
    margin-left: 13px;
  }
  header .header-2 {
    display: flex;
    align-items: center;
    padding: 7px 50px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .header-2 .logo-2 {
    width: 100%;
  }
  header .header-2 .logo-2 img {
    width: 60px;
  }
  header .header-2 .navbar-container {
    position: static;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .header-2 .navbar-container ul {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .header-2 .navbar-container ul img {
    display: none;
  }
  header .header-2 .navbar-container ul a li {
    font-size: 16px;
    margin: 0;
  }
  header .header-2 .right-container {
    display: grid;
    grid-template-columns: 1fr 20px 20px;
    justify-items: flex-end;
    width: 100%;
    height: 50px;
  }
  header .header-2 .right-container .navbar-search-container {
    padding: 0 40px;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .navbar-search-logo {
    display: block;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .input-container {
    margin: 0 auto;
  }
  header .header-2 .right-container .navbar-search-container .navbar-search-header-container .search-cancel-toggle {
    margin-right: 0;
  }
  header .header-2 .right-container img {
    margin-left: 0;
  }
  header .header-2 .right-container .heart-icon {
    display: block;
    grid-column: 2/3;
  }
  header .header-2 .right-container .bag-icon {
    grid-column: 3/4;
  }
  header .header-2 .right-container .search-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    width: 180px;
    border-radius: 100vw;
    background: rgba(0, 0, 0, 0.05);
    margin: 0 10px 0 30px;
    padding: 10px 15px;
  }
  header .header-2 .right-container .search-container .search-icon-toggle {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  header .header-2 .right-container .search-container .search-icon-toggle:hover {
    background: rgb(220, 220, 220);
  }
  header .header-2 .right-container .search-container .input-right {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    outline-style: none;
    margin-left: 0px;
  }
  header .header-2 .right-container .search-container .input-right::-moz-placeholder {
    color: rgb(190, 190, 190);
    font-size: 16px;
  }
  header .header-2 .right-container .search-container .input-right:-ms-input-placeholder {
    color: rgb(190, 190, 190);
    font-size: 16px;
  }
  header .header-2 .right-container .search-container .input-right::placeholder {
    color: rgb(190, 190, 190);
    font-size: 16px;
  }
  header .header-2 .right-container .menu-icon {
    display: none;
  }
  .content .header-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 0px;
    height: 70px;
  }
  .content .header-1 h2 {
    font-size: 17px;
  }
  .content .header-1 ul {
    margin-top: 0;
    justify-self: center;
  }
  .content .section-1 p, .content .section-1 h1, .content .section-1 button {
    text-align: center;
  }
  .content .section-1 h1 {
    margin-top: 10px;
    font-size: 60px;
  }
  .content .section-1 p {
    width: 700px;
    margin: 20px auto 0;
  }
  .content .section-1 button {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
  .content .section-2 .item-carousel .item {
    width: 35%;
  }
  .content .section-4 p, .content .section-4 h1, .content .section-4 button {
    text-align: center;
  }
  .content .section-4 h1 {
    margin-top: 10px;
    font-size: 60px;
  }
  .content .section-4 p {
    width: 700px;
    margin: 20px auto 0;
  }
  .content .section-4 button {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
  .content .section-5 .essentials-flex .essentials-items-container {
    width: 32.5%;
  }
}/*# sourceMappingURL=style.css.map */